.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# CDK
infra/cdk.out/
infra/.cdk.staging/
infra/cdk.context.json

# Frontend (XER-6)
pushuppros-marketing/node_modules/
pushuppros-marketing/dist/

# Frontend (XER-7)
pushuppros-app/node_modules/
pushuppros-app/dist/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
